/* Reset de estilos */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Montserrat, sans-serif;
    background-color: #121212; /* Color de fondo oscuro */
    color: #ffffff; /* Color de texto blanco */
}

.section-title {
    color: #ffb900; /* Color amarillo para el texto */
    font-size: 32px; /* Tamaño de fuente */
    text-align: center; /* Centrar el texto */
    margin-bottom: 30px; /* Espaciado inferior */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    font-weight: bold; /* Fuente en negrita */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */ 
}

a {
    text-decoration: none;
    color: #ffffff; /* Color de texto blanco para enlaces */
}

h4, h2, small {
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    background: #24262b; /* Fondo del navbar en modo oscuro */
    height: 80px;
    width: 100%;
    position: fixed; /* Hace que el navbar permanezca fijo */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el navbar esté por encima del contenido */
}

label.logo {
    color: #ffffff; /* Texto blanco para el logo */
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px; /* Ajuste de espaciado para dispositivos móviles */
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #ffffff; /* Texto blanco para los enlaces */
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #383838; /* Color de fondo oscuro para los enlaces activos y hover */
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #ffffff; /* Texto blanco para el botón de menú */
    float: right;
    line-height: 80px;
    margin-right: 20px; /* Ajuste de espaciado para dispositivos móviles */
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Media query para dispositivos móviles */
@media (max-width: 952px) {
    .checkbtn {
        display: block;
    }
    nav {
        background: #383838; /* Cambiado a un fondo más oscuro sólido */
    }
    label.logo {
        padding: 0; /* Eliminar el padding para el logo en dispositivos móviles */
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #383838; /* Cambiado a un fondo más oscuro sólido */
        top: 80px;
        left: -100%;
        text-align: center;
        transition: left 0.3s ease; /* Ajustada la transición para que sea más rápida y suave */
    }
    nav ul li {
        display: block;
        margin: 30px 0;
        line-height: 1.5;
    }
    nav ul li a {
        font-size: 18px;
        padding: 15px 0; /* Ajuste de espaciado para dispositivos móviles */
        color: #ffffff; /* Añadido color de texto para asegurar que no haya translucidez */
    }
    a:hover,
    a.active {
        background: #1f1f1f;
    }
    #check:checked ~ ul {
        left: 0;
    }
}


/* Sección */
section {
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
}

.section {
    position: relative;
    padding: 80px 20px; /* Ajusta el espaciado según sea necesario para dispositivos móviles */
    text-align: center;
    color: #ffffff; /* Color del texto */
}

.section-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/fondo.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* Ajusta la opacidad según sea necesario */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
}

.section-content {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté sobre la imagen de fondo */
}

.section h2 {
    font-size: 36px; /* Tamaño de fuente ajustado para dispositivos móviles */
    margin-bottom: 15px; /* Espaciado inferior reducido para dispositivos móviles */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    cursor: pointer; /* Cambio de cursor al pasar por encima */
    transition: color 0.3s ease; /* Transición suave de color */
}

.section h2 span {
    color: #ffbc0e; /* Cambio de color al texto del nombre de la empresa */
}

.section h2:hover {
    color: #ffbc0e; /* Cambio de color al pasar el cursor */
}

.section p {
    font-size: 18px; /* Tamaño de fuente ajustado para dispositivos móviles */
    margin-bottom: 20px; /* Espaciado inferior reducido para dispositivos móviles */
    line-height: 1.5; /* Altura de línea ajustada para dispositivos móviles */
    font-style: italic; /* Estilo de fuente cursiva */
}

@media (max-width: 768px) {
    section {
        height: auto; /* Altura automática en dispositivos pequeños */
    }
}

/* Swiper */
.swiper {
    width: 100%;
    padding: 50px 0 50px 0;
}

.swiper-slide {
    width: 350px;
    height: 550px;
    background-color: #323232;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i {
    font-size: 20px;
    color: #ffb900;
}

.icons img {
    width: 120px;
}

.product-content {
    display: flex;
    justify-content: space-between;
}

.product-txt {
    flex-basis: 50%;
}

.product-txt span {
    font-size: 25px;
    color: #ffb900;
    font-weight: bold;
}

.product-txt h3 {
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
}

.product-txt p {
    font-size: 14px;
    color: #c4c4c4;
}

.product-img {
    flex-basis: 50%;
    text-align: right;
}

.product-img img {
    width: 120px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #ffb900;
    border-radius: 25px;
    color: #ffb900;
    text-decoration: none;
    margin-top: 50px;
    cursor: pointer;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .swiper-slide {
        height: auto; /* Altura automática en dispositivos pequeños */
        max-width: 80%; /* Ajuste del ancho máximo para ocupar todo el ancho disponible */
        padding: 20px; /* Reducción del relleno para dispositivos móviles */
    }

    .product-content {
        flex-direction: column; /* Cambio a disposición de columna para apilar elementos */
        align-items: center; /* Centrado de elementos en dispositivos móviles */
    }

    .product-txt,
    .product-img {
        flex-basis: 100%; /* Establecimiento del ancho al 100% para ocupar todo el ancho disponible */
    }

    .btn-1 {
        margin-top: 20px; /* Reducción del margen superior para dispositivos móviles */
    }
}




/* Carousel */
.carousel {
    width: 100%;
    margin: 0px 0px;
    padding: 50px 0 50px 0;
    background-color: #1a1a1a; /* Color de fondo oscuro */
}

.carousel h2 {
    margin: 0px 60px 30px;
}

.carrusel-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}

.carrusel-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel {
    position: relative;
    width: 210px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.carrusel h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #ffffff;
    padding: 15px;
}

.carrusel h4 small {
    font-size: 15px;
    display: block;
}

.carrusel a img {
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2 px 5px 0 rgba(0, 0, 0, 0.6);
    transition: .3s ease-in-out;
    opacity: .5;
}

.carrusel-arrow {
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus {
    outline: 0;
}

.carrusel-arrow svg {
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.carrusel-prev {
    left: 0px;
}

.carrusel-next {
    right: 0px;
}

@media (min-width:768px) {
    .carrusel {
        width: auto;
    }
    .carrusel a img {
        width: auto;
    }
}

/* Interactive Section */
.interactive-section {
    text-align: center;
    padding: 50px 20px; /* Ajuste del relleno lateral */
    background: #121212; /* Fondo en modo oscuro */
    color: #ffffff; /* Texto blanco */
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-wrapper {
    display: flex;
    flex-direction: column; /* Cambio de dirección a columna en dispositivos pequeños */
    align-items: center; /* Centrado de elementos */
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-container {
    width: 100%; /* Ancho completo */
    max-width: 500px; /* Ancho máximo para mantener el tamaño adecuado */
    margin-bottom: 30px; /* Espaciado inferior */
    position: relative;
    animation: zoomIn 1s ease-in-out;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.image-container img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.05);
}

.info-container {
    width: 100%; /* Ancho completo */
    padding: 30px; /* Reducción del relleno */
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease;
    width: 100%;
    max-width: 600px;
    text-align: left;
    opacity: 0;
    transform: translateY(20px);
}

.info-box h3 {
    font-size: 24px; /* Reducción del tamaño de fuente */
    margin-bottom: 10px;
}

.info-box p {
    font-size: 16px; /* Reducción del tamaño de fuente */
}

.info-box.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.info-box.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 768px) {
    .container-wrapper {
        flex-direction: row; /* Cambio de dirección a fila en dispositivos medianos y grandes */
        justify-content: center; /* Centrado horizontal */
    }

    .image-container {
        width: auto; /* Ancho del 50% en dispositivos medianos y grandes */
        max-width: none; /* Eliminar el ancho máximo */
        margin-bottom: 0; /* Eliminar el espaciado inferior */
        margin-right: auto; /* Espaciado a la derecha */
    }

    .info-container {
        width: auto; /* Ancho del 50% en dispositivos medianos y grandes */
        padding: 0; /* Eliminar el relleno */
    }
}


/* Pricing Section */
.pricing-section {
    padding: 50px 0;
    background-color: #1a1a1a; /* Color de fondo oscuro */
    text-align: center; /* Centrar el contenido */
}

.section-title {
    margin-bottom: 30px;
    font-size: 28px;
    color: #ffb900; /* Color naranja */
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.pricing-card {
    background-color: #333; /* Color de fondo para modo oscuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra con colores invertidos */
    text-align: center;
    transition: transform 0.3s ease;
    width: calc(33.33% - 40px); /* Tres tarjetas por fila */
    max-width: 250px; /* Ancho máximo */
}

.pricing-card:hover {
    transform: translateY(-5px);
}

.pricing-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Espacio inferior */
}

.pricing-card h2 {
    font-size: 22px;
    color: #fff; /* Texto blanco */
    margin-bottom: 5px; /* Espacio inferior */
}

.pricing-card p {
    font-size: 14px;
    color: #ccc; /* Texto gris claro */
    margin-bottom: 5px; /* Espacio inferior */
}

.pricing-details {
    margin-top: 20px;
}

.pricing-details h3 {
    font-size: 25px;
    color: #ffb900; /* Color naranja */
}

.discount {
    font-size: 14px;
    color: #00cc00; /* Color verde */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffb900; /* Color naranja */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn:hover {
    background-color: #cc5500;
}

/* Estilos para resaltar los combos */
.bronze {
    transform: scale(0.95);
}

.silver {
    transform: scale(0.95);
}

.gold {
    transform: scale(1.05);
}

/* Media query para dispositivos de tamaño medio */
@media (max-width: 768px) {
    .pricing-card {
        width: calc(50% - 20px); /* Dos tarjetas por fila */
    }
}

/* Marcas Aliadas */
.brand-partners {
    padding: 50px 20px;
    background-color: #121212;
    text-align: center;
}

.brand-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.brand-card {
    background-color: #323232;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.brand-card:hover {
    transform: translateY(-10px);
}

.brand-card img {
    width: 150px;
    height: auto;
    margin-bottom: auto;
}

.brand-card h3 {
    font-size: 24px;
    color: #ffb900;
}

/* Contact */
#contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a1a1a;
}

.map-container,
.contact-form-container {
    flex: 1 1 45%;
    padding: 10px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Media query para dispositivos de tamaño reducido */
@media (max-width: 768px) {
    #contact-section {
        flex-direction: column; /* Cambiar a una disposición de columna para una mejor adaptabilidad */
        padding: 20px 10px; /* Reducir el relleno lateral */
    }

    .map-container,
    .contact-form-container {
        flex: 1 1 100%; /* Ocupar todo el ancho disponible */
        margin-bottom: 20px; /* Agregar un margen inferior para separar los contenedores */
    }

    .map-container iframe {
        min-height: 200px; /* Reducir la altura mínima del mapa */
    }

    button {
        width: 100%; /* Ajustar el ancho del botón al 100% */
    }
}


/* Modal compra */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    animation: fadeIn 0.3s ease-out;
}

.modal-content {
    background-color: #1a1a1a;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    animation: slideIn 0.5s ease-out;
}

.modal-title,
.section-title {
    color: #ffb900;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.product-details {
    margin-bottom: 20px;
}

.product-img {
    width: 30%;
    display: inline-block;
}

.product-img img {
    width: 100%;
    border-radius: 5px;
}

.product-info {
    width: 68%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.product-info h3,
.product-info p {
    color: #fff;
    margin: 0;
}

.form-container {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input,
.form-group select {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #ffb900;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #e0a800;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


/* Footer */
.footer {
    background-color: #24262b;
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    flex: 1; /* Ancho flexible */
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul {
    list-style: none; /* Eliminar los puntos de lista */
    padding: 0; /* Eliminar el espacio adicional */
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s;
}

.footer-links ul li a:hover {
    color: #ffb900;
    padding-left: 6px;
}

.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #1a1a1a;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background-color: #00c3ff;
}

@media (max-width: 991px) {
    .footer-row {
        justify-content: center; /* Centrar los elementos */
    }

    .footer-links {
        width: 100%;
        text-align: center; /* Centrar el texto */
        margin-bottom: 30px;
    }

    .footer-links h4 {
        font-size: 18px; /* Reducir el tamaño de la fuente del título */
    }

    .footer-links ul li a {
        font-size: 16px; /* Reducir el tamaño de la fuente de los enlaces */
    }
}
