html,
body{
    position: relative;
    height: 100%;
}
body{
    background-color: #323232;
    font-family: Helvetica Neue, Helvetica;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Estilos generales */

.header {
    background-color: #24262b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0 10%;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: transform 0.3s;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.header .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav-links li {
    margin-left: 20px;
}

.header .nav-links a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.header .nav-links a:hover {
    color: #ffbc0e;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .header {
        padding: 0 5%; /* Reducir el padding horizontal */
    }

    .header .nav-links {
        display: none; /* Ocultar los enlaces en dispositivos móviles */
        flex-direction: column; /* Alinear los enlaces en columna */
        text-align: center;
    }

    .header .nav-links.active {
        display: flex; /* Mostrar los enlaces al hacer clic en el botón */
    }

    .header .nav-links li {
        margin: 10px 0;
    }
}


.section {
    position: relative;
    padding: 100px 0; /* Ajusta el espaciado según sea necesario */
    text-align: center;
    color: #ffffff; /* Color del texto */
}

.section-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/fondo.avif'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* Ajusta la opacidad según sea necesario */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
}

.section-content {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté sobre la imagen de fondo */
}

.section h2 {
    font-size: 48px; /* Tamaño de fuente aumentado */
    margin-bottom: 20px;
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    cursor: pointer; /* Cambio de cursor al pasar por encima */
    transition: color 0.3s ease; /* Transición suave de color */
}

.section h2 span {
    color: #ffbc0e; /* Cambio de color al texto del nombre de la empresa */
}

.section h2:hover {
    color: #ffbc0e; /* Cambio de color al pasar el cursor */
}

.section p {
    font-size: 24px; /* Tamaño de fuente aumentado */
    margin-bottom: 40px;
    line-height: 1.6; /* Altura de línea aumentada para mejor legibilidad */
    font-style: italic; /* Estilo de fuente cursiva */
}







.swiper {
    width: 100%;
    padding: 150px 0 50px 0;
}

.swiper-slide {
    width: 300px;
    height: 500px;
    background-color: #323232;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i {
    font-size: 20px;
    color: #ffb900;
}

.icons img {
    width: 120px;
}

.product-content {
    display: flex;
    justify-content: space-between;
}

.product-txt {
    flex-basis: 50%;
}

.product-txt span {
    font-size: 25px;
    color: #ffb900;
    font-weight: bold;
}

.product-txt h3 {
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
}

.product-txt p {
    font-size: 14px;
    color: #c4c4c4;
}

.product-img {
    flex-basis: 50%;
    text-align: right;
}

.product-img img {
    width: 120px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #ffb900;
    border-radius: 25px;
    color: #ffb900;
    text-decoration: none;
    margin-top: 50px;
    cursor: pointer;
}


h4, h2, small, a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}


.carousel{
    width: 100%;
    margin: 0px 0px;
    background-color: #1a1a1a; /* Color de fondo oscuro */
}

@media(min-width:780px){
    .carousel h2{
        margin: 0px 60px;
    }
}

.carousel h2{
    font-size: 45px;
    line-height: 38px;
    padding-bottom: 50px;
    opacity: .9;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    
}

.carrusel-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}

.carrusel-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel{
    position: relative;
    width: 210px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.carrusel h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #ffffff;
    padding: 15px;
}

.carrusel h4 small{
    font-size: 15px;
    display: block;
}

.carrusel a img{
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2 px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

@media(min-width:768px){
    .carrusel{
        width: 275px;
    }
    .carrusel a img{
        width: 250px;
    }
}

.carrusel-arrow{
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus{
    outline: 0;
}

.carrusel-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.carrusel-prev{
    left: 0px;
}

.carrusel-next{
    right: 0px;
}


.interactive-image {
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
}

.interactive-image h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
}

.interactive-image img {
    width: auto; /* Mantener el ancho original */
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}


.interactive-image area {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.interactive-image area:hover {
    opacity: 0.7;
}

.info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.info-box::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
    transition: opacity 0.3s ease;
}

.info-box::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #000 transparent;
}

.info-box:hover {
    opacity: 0.9;
}

.info-box:hover::after {
    opacity: 0.9;
}

.pricing-section {
    padding: 50px 0;
    background-color: #1a1a1a; /* Color de fondo oscuro */
    text-align: center; /* Centrar el contenido */
}

.pricing-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.pricing-card {
    background-color: #333; /* Color de fondo para modo oscuro */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra con colores invertidos */
    text-align: center;
    transition: transform 0.3s ease;
    width: calc(33.33% - 40px); /* Tres tarjetas por fila */
    max-width: 250px; /* Aumentamos el ancho máximo */
}

.pricing-card:hover {
    transform: translateY(-5px);
}

.pricing-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Añadimos un espacio inferior */
}

.pricing-card h2 {
    font-size: 24px;
    color: #fff; /* Texto blanco para modo oscuro */
    margin-bottom: 10px; /* Espacio inferior reducido */
}

.pricing-card p {
    font-size: 16px;
    color: #ccc; /* Texto gris claro para modo oscuro */
    margin-bottom: 10px; /* Espacio inferior reducido */
}

.pricing-details {
    margin-top: 20px;
}

.pricing-details h3 {
    font-size: 32px;
    color: #ffb900; /* Color naranja para precio */
}

.discount {
    font-size: 14px;
    color: #00cc00; /* Color verde para descuento */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:#ffb900; /* Color naranja para botón */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn:hover {
    background-color: #cc5500;
}

@media (max-width: 768px) {
    .pricing-card {
        width: calc(50% - 20px); /* Dos tarjetas por fila */
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #24262b;
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    flex: 1; /* Ancho flexible */
    padding: 0 15px;
}


.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul {
    list-style: none; /* Eliminar los puntos de lista */
    padding: 0; /* Eliminar el espacio adicional */
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s;
}

.footer-links ul li a:hover {
    color: #ffb900;
    padding-left: 6px;
}

.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(216, 213, 213, 0.788);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background-color: #00c3ff;
}

@media (max-width: 991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}
